<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Ask a question</title>
</head>
<body>
<form action="" method="post">
    <h1>Ask a question</h1>
    <input type="text" name="questiontitle" placeholder="Question title"><br>
    <textarea name="questionbody" rows="10" cols="50" placeholder="Place your question here"></textarea>
    <br>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
    <br>
    <a href="/">Return to main page</a>
    <!--Buttonnel is lehetne -->
</body>
</html>