<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of questions</title>
    <style>
        thead,tfoot {background-color: #3f87a6;  color: #fff}
        tbody {background-color: #e4f0f5;}
        caption {padding: 50px; caption-side: top; text-align: center; font-size:30px}
        table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: .8rem; }
        td,th {border: 1px solid rgb(190, 190, 190);
        padding: 5px 10px;}
        td {text-align: center;}
    </style>
</head>
<body>
    <a href="/add-question">Add a question</a>
    <form action="http://localhost:8000/list" method="POST">
    <table border="1"
           width="1000" cellspacing="3">
    <caption>ASK_MATE</caption>
        <thead>
            {% for row in list_of_questions%}
                <tr>
                    {% if list_of_questions.index(row)==0%}
                        {%for cell in row%}
                        <th><button name="{{cell}}" id="{{cell}}" value="{{cell}}">{{cell}}</button></th>
                        {%endfor%}
                    <th><button> voting </button></th>
                    {%endif%}
                </tr>
            {%endfor%}
        </thead>
        {%for row in list_of_questions%}
            {% if list_of_questions.index(row)!=0%}
                <tr>
                    {%for cell in row%}
                        {% if row.index(cell) == 0%}
                            <td width="20"><a href="http://localhost:8000/question/{{cell}}">{{cell}} </a></td>
                        {% elif row.index(cell) == 6 %}
                            {% if cell != '' %}
                            <td><img src="{{ cell }}" alt="pimpirimpi" height="100"></td>
                            {%else%}
                            <td height = "100"> </td>
                            {% endif %}
                        {%else%}
                            <td width ="80">{{cell}}</td>
                        {%endif%}
                    {%endfor%}

                    <td><form action="/question/{{row[0]}}/vote_up" >
                    <button>Vote up</button></form>

                    <form action="/question/{{row[0]}}/vote_down" >
                    <button>Vote down</button></form></td>
                </tr>
            {%endif%}
        {%endfor%}
    </table>
    </form>

</body>
</html>