<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
        body {
        background-image: url('https://s3.amazonaws.com/noupe/2009/10/squidfingers.jpg');
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center;
      }
        </style
        <meta charset="utf-8">
        <title> Add new answer | Ask mate</title>
    </head>
    <body>
        <h1>Add new answer</h1>
        <form action="/question/{{ question_id }}/new-answer" method="post" enctype="multipart/form-data">
            <label for="new_answer"> Your answer: </label><br>
            <textarea id="new_answer" name="answer" rows="4" cols="60" required></textarea><br><br>
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
            <input type=file name=img>
            <br><br><br>
        </form>
        <a href="/question/{{ question_id }}"><img src="/static/buttons/whiteback.png" alt="Return to question page" width="35"></a>
    </body>
</html>